<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <blog>
            <general>
                <enabled>1</enabled>
                <name>Blog</name>
                <url_prefix>blog</url_prefix>
                <sidebar_right>1</sidebar_right>
                <enable_mpbootstrap>1</enable_mpbootstrap>
                <font_color><![CDATA[#1abc9c]]></font_color>
                <display_author>0</display_author>
            </general>
            <sidebar>
                <number_recent_posts>5</number_recent_posts>
                <number_mostview_posts>5</number_mostview_posts>
            </sidebar>
            <comment>
                <type>4</type>
                <disqus>mageplazablog</disqus>
                <facebook_number_comment>10</facebook_number_comment>
                <facebook_appid>1562328304081606</facebook_appid>
                <facebook_colorscheme>light</facebook_colorscheme>
                <facebook_order_by>social</facebook_order_by>
            </comment>
            <share>
                <enabled>1</enabled>
                <pubid_id>ra-568cdc40e9eab41d</pubid_id>
            </share>
        </blog>
    </default>
</config>