.post-post_content{
    margin: 10px 0 10px 0;
}
.mp-post-info{
    margin: 0px;
}
.mp-post-info a.mp-info {
    color: #1abc9c;
}
.mp-post-info a.mp-info:hover {
    text-decoration: none;
	color: #1abc9c;
}
.mp-post-info span {
    color: #6f6f6f;;
}
@media (min-width: 768px) {
    .post-sharing-button {
        text-align: center;
    }
}
#sharing{
    padding: 20px 30px;
    background: #f6f6f6;
    margin-top: 40px;
}
@media (min-width: 768px){
	#sharing .share-col-left {
		float: left;
		width: 50%;
	}
}
