.post-post_content{
    margin: 10px 0 10px 0;
}
.mpcss .mp-post-info a {
    color: inherit;
}
.mpcss .mp-post-info a:hover {
    text-decoration: none;
}
.mpcss .mp-post-info span {
    color: #6f6f6f;;
}
@media (min-width: 768px) {
    .mpcss .post-sharing-button {
        text-align: center;
    }
}
.mpcss .sharing{
    padding: 20px 30px;
    background: #f6f6f6;
    margin-top: 40px;
}
.mpcss a.mp-category{
    color: #1abc9c;
}
.mpcss a.mp-category:hover{
    color: #1abc9c;
}