h2.mp-post-title a {
    color: #1abc9c;
}
h2.mp-post-title a:hover {
    text-decoration: none;
    color: #1abc9c;
}
.mp-post-meta-info a.mp-read-more {
    color: #1abc9c;
}
.mp-post-meta-info a.mp-read-more:hover {
    color: #1abc9c;
}
.mp-post-info a.mp-info{
    color: #1abc9c;
}
.mp-post-info a.mp-info:hover{
    color: #1abc9c;
}
h2.mp-post-title a:hover:focus {
    text-decoration: none;
}
.mp-blog-rss{
    text-align: right;
}
.mp-post-info{
    color: #999999;
    font-size: 10px;
    line-height: 18px;
    padding: 0 0 10px 0;
}
.post-image img.img-responsive {
    max-height: 400px;
}
.post-item-wraper {
    border: 1px solid #eee;
}
.post-item-wraper:hover {
    border: 1px solid #eee;
    box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.3);
}
.post-info-wraper {
    padding: 20px 15px 10px 15px;
}
.post-info-wraper h2.mp-post-title{
    margin-top: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #1abc9c;
}
.post-list-item {
    margin-bottom: 40px;
}
.post-short-description {
    max-width: 100%;
}
.post-short-description p {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em;
}


.mp-post-info a.mp-info {
    color: #1abc9c;
}
.mp-post-info a.mp-info:hover {
    text-decoration: none;
    color: #1abc9c;
}
.nav .nav-tabs li.active{
    border-top-color: #1abc9c;
}

.about-admin h4.admin-title a{
    color: #1abc9c;
}

.about-admin h4.admin-title a:hover {
    color: #1abc9c;
}
.owl-item a.mp-relate-link{
    color: #1abc9c;
}
.owl-item a.mp-relate-link:hover{
    color: #1abc9c;
    text-decoration: none;
}
.owl-item a.mp-relate-link:focus{
    color: #1abc9c;
    text-decoration: none;
}
.mp-post-info span {
    color: #6f6f6f;;
}

.post-post_content{
    margin: 10px 0 10px 0;
}
.mp-post-info{
    margin: 0px;
}


@media (min-width: 768px) {
    .post-sharing-button {
        text-align: center;
    }
}
#sharing{
    padding: 20px 30px;
    background: #f6f6f6;
    margin-top: 40px;
}
@media (min-width: 768px){
    #sharing .share-col-left {
        float: left;
        width: 50%;
    }
}
.about-admin {
    margin-top: 40px;
}
.about-admin h4.admin-title{
    width: 215px;
    float: left;
}

.about-admin h4.admin-title a:hover{
    text-decoration: none;
}
.author-des {
    margin-top: 30px;
}
.author-des .admin-avatar {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}
.author-des .img-responsive {
    width: 80px;
}
.about-admin #admin-border {
    height: 6px;
    border-top: 1px solid #e0dede;
    border-bottom: 1px solid #e0dede;
    margin-top: 20px;
    float:left;
    width: calc(100% - 215px);
}
.owl-item .relate-content{
    text-align: center;
}
.post-same-topics.topic-list {
    margin-top: 50px;
}
#post-reviews {
    margin-top: 50px;
}
.mp-post-info a.mp-info:focus {
    text-decoration: none;
}
#related-post .owl-page.active span {
    background: #f55567;
}
a.mp-relate-link img.img-responsive{
    margin:0 auto;
    height: 200px;
    display: block;
}
.owl-item{
    width:246px !important;
}
.owl-stage-outer {
    height: 220px;
}
.owl-carousel .owl-stage {
    height: 220px;
}



